@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    border: 0;
    margin: 0;
    background-color: #0d0d0d;
}

.topo {
    width: 100%;
    display: flex;
    height: 56px;
    background-color: #181818;
}

.topo--container--1 {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.menu--icon {
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

.menu--logo {
    margin-left: 40px;
    width: 100.91px;
    height: 22.381px;
}

.topo--container--2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.campo--pesquisa {
    width: 714px;
    height: 38px;
    border: 1px solid #2a2a2a;
    outline: none;
    background-color: #0f0f0f;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    color: white;
    padding-left: 10px;
}

.botao--pesquisa {
    height: 38px;
    border: 0;
    outline: none;
    background-color: #2a2a2a;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    width: 78px;

}

.icone--botao--pesquisa {
    width: 24px;
    height: 24px;
}

.botao--microfone {
    width: 38px;
    height: 38px;
    border: 0;
    outline: none;
    background-color: #2a2a2a;
    border-radius: 50%;
    margin-left: 32px;
}

.topo--container--3 {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 34px;
}

.icone--container--3 {
    width: 28px;
    height: 28px;
}

.avatar {

    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #912df5;
}

.menu {
    display: flex;
}

nav {
    width: 88px;
    height: 309px;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.botao--menu {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome--botao {
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.banner {
    width: 100%;
    background-color: #912df5;
}

.meio--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.meio {
    width: 950px;
    margin-top: 25px;
}

.infos-channel {
    display: flex;
    height: 148px;

}

.infos-channel--1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar--channel {
    width: 128px;
    height: 128px;
    background-color: #912df5;
    border-radius: 50%;
}

.name-channel--container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.subscribers {
    color: #888;
    font-family: Roboto;
    font-size: 17.585px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -10px;
}

.name-icon {
    display: flex;
    flex-direction: row;
    ;
}

.name--channel {
    color: #FFF;
    font-family: Roboto;
    font-size: 30.375px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 10px;
}

.infos-channel--2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button-subscribers {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 65px;
    background-color: #FFF;
    font-family: Roboto;
    font-style: bold;
    border: 0;
    outline: 0;
}

.menu--container {
    width: 100%;
    display: flex;
    height: 40px;
    margin-top: 30px;
    gap: 15px;
}

.menu--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: Roboto;
    font-size: 16px;
    color: #8F8F8F;
    font-weight: 500;
    border-bottom: 2px solid transparent;
}

.menu--item--active {
    color: white;
    border-bottom: 2px solid white;
    border-color: #9A9A9A;
}

.trailer--container {
    cursor: pointer;
    display: flex;
    height: 118px;
    margin-top: 38px;
}

.trailer--1 {
    display: flex;
    flex: 1;
}

.trailer--2 {
    display: flex;
    flex: 3;
    flex-direction: column;

}

.video {
    width: 210px;
    background-color: #912df5;
    border-radius: 8px;
}

.nome-video {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.infos-video {
    color: #8F8F8F;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -8px;
}

.descricao--video {
    color: #EFEFEF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    margin-top: -16px;
    line-height: 150%;
}